#div1{
    width: 100%;
    height: 100px;
    background: linear-gradient(
        to right, grey, black
    );
}
#div2{
    width: 100px;
    height: 100px;
    background: linear-gradient(
        45deg, beige,grey
    );
    margin-top: 48px;
}
#div3{
    width: 100%;
    height: 100px;
    background: linear-gradient(
        180deg, black,grey
    );
    margin-top: 48px;
}
#div4{
    width: 100%;
    height: 100px;
    background: radial-gradient(
       circle, grey,black
    );
    margin-top: 48px;
}
#div5{
    width: 100%;
    height: 100px;
    background: radial-gradient(
       circle closest-side, grey,black
    );
    margin-top: 48px;
}
#div6{
    width: 200px;
    height: 200px;
    background: radial-gradient(
       circle at top left, grey,black
    );
    margin-top: 48px;
}